# See https://help.github.com/en/articles/ignoring-files#create-a-gitignore-file
# for more information on how to write a .gitignore file

# dependencies
/node_modules
/public/lib

# build
/build

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
repos
sass_cache
tested-apps

# editor
*.sublime-project
*.sublime-workspace
*.vscode

# IDEs
.idea
.vscode

# misc
.netlify
.env.local
.env.development.local
.env.production.local
.env.test.local
.env.bak
.vercel
now.json
